* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Calibri, sans-serif;;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    color: #333;
}

.content {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.back-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  color: #fff;
  background-color: #333;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #555;
}


h1, h2 {
    color: #333;
}

p {
    font-size: 20px;
    line-height: 1.6;
    color: #555;
}

ul {
    font-family: Calibri, sans-serif; /* Настроенный шрифт */
    font-size: 25px;
    color: #333; /* Цвет текста */
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
}

li {
    margin-bottom: 0.5rem; /* Отступ между пунктами списка */
    padding-left: 1rem; /* Внутренний отступ */
    position: relative;
    font-size: 20px;
}

ol {
    font-family: Calibri, sans-serif; /* Настроенный шрифт */
    font-size: 20px;
    color: #333; /* Цвет текста */
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card {
    flex: 1 1 calc(45% - 1rem);
    padding: 1rem;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    background-color: #eaeaea;
}

.tooltip {
    position: absolute;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    font-size: 0.9rem;
    display: none;
    z-index: 10;
}

.tooltip::after {
    content: '';
    position: absolute;
    border-width: 5px;
    border-style: solid;
    border-color: #f4f4f4 transparent transparent transparent;
    top: 100%;
    left: 10px;
}
